.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/Green-Tropical-Plant-Wallpaper-Mural-Plain1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 531px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 295px;
  background-image: none;
  min-height: 312px;
  height: auto;
  margin: 110px auto 0 48px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 -146px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 531px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-video-1 {
  height: 374px;
  width: 650px;
  margin: 48px 0 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-group-1 {
    width: 231px;
    margin-left: 29px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 19px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 72px;
    margin-right: 19px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-1 .u-video-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-1 .u-group-1 {
    width: 177px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 55px;
    margin-right: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-1 .u-video-1 {
    height: 296px;
    width: 360px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 185%;
    left: -42%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 166px;
    margin-left: 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 41px;
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-group-1 {
    width: 139px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 7px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 26px;
    margin-right: 7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 196%;
    left: -48%;
  }
}.u-section-2 {
  background-image: linear-gradient(#02101e, #6b9c5b);
}

.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-group-1 {
  width: 587px;
  min-height: 118px;
  height: auto;
  margin: 41px 0 41px auto;
}

.u-section-2 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 484px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 371px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 348px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 292px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 4960px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 647px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 234px;
  }
}.u-section-4 {
  background-image: linear-gradient(#02101e, #6b9c5b);
}

.u-section-4 .u-sheet-1 {
  min-height: 199px;
}

.u-section-4 .u-group-1 {
  width: 670px;
  min-height: 92px;
  margin: 41px 0 41px auto;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 552px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 423px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 397px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 333px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(51,43,41,0.45), rgba(51,43,41,0.45)), url("images/c88a1fcaa804aa0130a169751d2a2b3d.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 559px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 69px auto 69px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 441px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 20px 149px 0 20px;
}

.u-section-5 .u-text-2 {
  margin: 40px 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 441px;
}

.u-section-5 .u-shape-1 {
  width: 280px;
  height: 147px;
  background-image: none;
  margin: 235px 0 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -361px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 123px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-shape-1 {
    width: 231px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 94px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-shape-1 {
    width: 177px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 71px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-shape-1 {
    width: 166px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 44px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-shape-1 {
    width: 139px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}